// Limit colors
$width-limit: 1170px;
$page-padding: 26px;
// Colors
$main-color: #ff1000;
$second-color: #fff100;
$third-color: #000dff;
$text-color: #000;
$white: #fff;
// Fonts
$main-font: 'gg sans', sans-serif;
$title-font: 'Futura Display BQ', sans-serif;
$title-font-2: 'American Captain', sans-serif;
$art-font: 'Commando', sans-serif;